<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single News</title>
    <link rel="stylesheet" href="/scss/single.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"  />
    <style>
    </style>
</head>

<body class="body">
    <header class="header_nav">
        <div class="nav">
            <div class="title_container">
                <div class="title">
                    <h1><span>#</span>Samachar <span>Varta</span></h1>
                </div>
            </div>
            <div class="nav_container">
                <nav class="row_nav">
                    <li><a href="/?query=politics&pageno=1">Politices</a></li>
                    <li><a href="/?query=cricket&pageno=1">Cricket</a></li>
                    <li><a href="/?query=technology&pageno=1">Education</a></li>
                    <li><a href="/?query=education&pageno=1">Technology</a></li>
                    <li><a href="/?query=economy&pageno=1">Economy</a></li>
                    <li><a href="/?query=coding&pageno=1">Coding</a></li>
                    <div class="search_news">
                        <input type="text" placeholder="search news...." class="news_input">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </nav>
                <div id="toggle_icon">
                    <div>|||</div>
                </div>
            </div>
            <!-- <div id="toggle_icon"><div>|||</div></div> -->
        </div>
    </header>
    <section class="header">
        <div class="header_contianer">
            <div class=" loadingForHeader">
                <div class=" headerLoadingBox animation loadingBoxForHeader"></div>
                <div class="loadingLines">
                    <div class="loadingLine top animation"></div>
                    <div class="loadingLine middile animation"></div>
                    <div class="loadingLine bottom animation"></div>
                    <div class="loadingLine middile animation"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="newsHeadingContainer">
            <div class="newsHeading">
                Latest News
            </div>
        </div>
        <div class="news_container">
            <div class="loadingContainer">
            </div>
        </div>
        <div class="search_news_container row">
            <div class="search_news">
                <input type="text" placeholder="search news...." class="news_input">

                <i class="fa-solid fa-magnifying-glass"></i>

            </div>
            <div class="news_btn_container row">
                <a href="#" class="btn_new_news pre">
                    <div class="news_btn"><i class="fa-solid fa-chevron-left"></i></div>
                </a>
                <a href="#" class="btn_new_news next">
                    <div class="news_btn"><i class="fa-solid fa-chevron-right"></i></div>
                </a>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_info row">
                <div class="info">
                    <h2>GET IN TOUCH</h2>
                    <i><i class="fa-sharp fa-phone"></i><span>telibagh gandhi nagar,lucknow</span></i>
                    <i><i class="fa-solid fa-location-dot"></i><span>telibagh gandhi nagar,lucknow</span></i>
                    <i><i class="fa-solid fa-envelope"></i><span>telibagh gandhi nagar,lucknow</span></i>
                    <h2>FOLLOW US</h2>
                    <div class="follow_link row">
                        <a href="">
                            <div class="follow"><i class="fa-brands fa-instagram"></i></div>
                        </a>
                        <a href="">
                            <div class="follow"><i class="fa-brands fa-linkedin"></i></div>
                        </a>
                        <a href="">
                            <div class="follow"><i class="fa-brands fa-twitter"></i></div>
                        </a>
                        <a href="">
                            <div class="follow"><i class="fa-brands fa-facebook"></i></div>
                        </a>
                        <a href="">
                            <div class="follow"><i class="fa-brands fa-youtube"></i></div>
                        </a>
                    </div>
                </div>
                <div class="info">
                    <h2>GET IN TOUCH</h2>
                    <a href="">
                        <div class="news_info_footer">
                            <div class="type_news row">
                                <h3>Business</h3>
                                <p>jan 01 ,2023</p>
                            </div>
                            <p> iure similique eum odio. Ea officia maiores labore autem sequi alias eligendi quod.
                                Aliquid,
                                eum illum tempore laboriosam reiciendis molestias voluptate qui dolorum quod
                                reprehenderit
                                sit vitae fuga unde totam rem provident perspiciatis.</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="news_info_footer">
                            <div class="type_news row">
                                <h3>Business</h3>
                                <p>jan 01 ,2023</p>
                            </div>
                            <p> iure similique eum odio. Ea officia maiores labore autem sequi alias eligendi quod.
                                Aliquid,
                                eum illum tempore laboriosam reiciendis molestias voluptate qui dolorum quod
                                reprehenderit
                                sit vitae fuga unde totam rem provident perspiciatis.</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="news_info_footer">
                            <div class="type_news row">
                                <h3>Business</h3>
                                <p>jan 01 ,2023</p>
                            </div>
                            <p> iure similique eum odio. Ea officia maiores labore autem sequi alias eligendi quod.
                                Aliquid,
                                eum illum tempore laboriosam reiciendis molestias voluptate qui dolorum quod
                                reprehenderit
                                sit vitae fuga unde totam rem provident perspiciatis.</p>
                        </div>
                    </a>
                </div>
                <div class="info">
                    <h2>CATEGORIES</h2>
                    <div class="footer_tag row" style="flex-wrap:wrap;">
                        <a href="/?query=politics&pageno=1" class="tag">Politics</a>
                        <a href="/?query=business&pageno=1" class="tag">Business</a>
                        <a href="/?query=education&pageno=1" class="tag">Education</a>
                        <a href="/?query=health&pageno=1" class="tag">Health</a>
                        <a href="/?query=food&pageno=1" class="tag">Foods</a>
                        <a href="/?query=technology&pageno=1" class="tag">Technology</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copy_right row wrap">
            <i class="fa-regular fa-copyright"></i>
            <span>Samachar Varta</span>
            <h3>All Rights Reserved Desgin by </h3>
            <span>HTML Code</span>
        </div>
    </footer>
    <script src="/jsApp/dataCode.js"></script>
    <script src="/jsApp/loading.js"></script>
    <script>
    </script>
</body>

</html>